<!doctype html>
<html lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  

  <title>Hello, ESP!</title>
</head>
<body>
  <div class="container">
    <div class="row">
    	<div class="col-sm-8">
    		<h3 class="mb-2">Ecole Supérieure Polytechnique</h3>
		</div>
		<div  class=" row">
        <div class="col-sm-4">
        	 <a routerLink="/ecole"
        		 class="btn btn-primary float-right mb-2" role="button" routerLinkActive="active" >Ajouter
        	</a>
		</div>
		<div class="col-sm-4">
			<a routerLink="/listeEcoles"
				class="btn btn-primary float-right mb-2" role="button" routerLinkActive="active" >Liste
		   </a>
	   </div>
	</div>
    </div>
	<router-outlet></router-outlet>
	
  </div>
  <!-- JavaScript -->
  <!-- jQuery , Popper, Bootstrap -->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/popper.js/dist/popper.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  
</body>
</html>



