<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- main CSS -->
<link href="./ecole-partenaire.component.css" rel="stylesheet" media="all">

  <title></title>
</head>
<body>
  <div *ngIf="ecole">
<div class="Container">
  <div class="card card-4">
    <div class="card-body">
          <h2 class="title">Formulaire de saisie des Ecoles Partenaires</h2>
          <div [hidden]="submitted" style="width: 400px;"></div>
      <form (ngSubmit)="onSubmit()">
        <div class="row row-space">
          <div class="col">
            <div class="input-group">
              <label class="label">Nom de L'etablissement</label>
              <input class="input--style-4" type="text" id="nom" required [(ngModel)]="ecole.nom" name="nom">
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label class="label">Site Web</label>
              <input class="input--style-4" type="text" id="site_web"required [(ngModel)]="ecole.site_web" name="site_web" >
            </div>
          </div>

        </div>
        <div class="row row-space">
          <div class="col">
            <div class="input-group">
              <label class="label">Pays</label>
              <input class="input--style-4" type="text" id="pays"required [(ngModel)]="ecole.pays" name="pays">
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label class="label">Adresse Etablissement</label>
              <input class="input--style-4" type="text" id="adresse" required [(ngModel)]="ecole.adresse" name="adresse">
            </div>
          </div>
        </div>
        <div class="row row-space">
          <div class="col">
            <div class="input-group">
              <label class="label">Ville</label>
              <input class="input--style-4" type="text" id="ville" required [(ngModel)]="ecole.ville" name="ville">
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label class="label">Spécialité</label>
              <input class="input--style-4" type="text" id="Specialite" required [(ngModel)]="ecole.specialite" name="specialite">
            </div>
          </div>
        </div>
        <div class="row row-space">
          <div class="col">
            <div class="input-group">
              <label class="label">Nombre de Place</label>
              <input class="input--style-4" type="text" id="quotas" required [(ngModel)]="ecole.quotas" name="quotas">
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label class="label">Type de Mobilité</label>
              <input class="input--style-4" type="text" id="type_accords" required [(ngModel)]="ecole.type_Accords" name="type_accords">
            </div>
          </div>
        </div>
        <div class="row row-space">
          <div class="col">
            <div class="input-group">
              <label class="label" >Email-etablissement</label>
              <input class="input--style-4" type="email" id="email" required [(ngModel)]="ecole.email" name="email">
            </div>
          </div>
          <div class="col">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="photo" required [(ngModel)]="ecole.photo" name="photo">
              
              <label class="custom-file-label" for="photoFile">Choisir une Photo</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-danger" type="button" id="deletephoto">supprimer</button>
            </div>
          </div>
           </div>
        </div>
        <div class="row row-space">
          <div class="col-6">
            <div class="input-group">
              <label class="label">Télephone</label>
              <input class="input--style-4" type="text" id="telephone" >
            </div>
            </div>
          </div>
          <div class="row row-space">
              <div class="col-6">
                <div class="p-t-15">
                    <button class="btn btn--radius-2 btn--green" type="submit"  (click)="onSubmit()">Enregister</button>
                </div>
              </div>
          </div>
          <div [hidden]="!submitted">
            <h4>You submitted successfully!</h4>
        </div>
        
      </form>
    </div>
  </div>
</div>
</div>

 
  
  <!-- JavaScript -->
  <!-- jQuery , Popper, Bootstrap -->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/popper.js/dist/popper.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
